@using ForumData.Entities
@model List<HoofdBericht>
@{
    ViewData["Title"] = "Alle berichten van uw gemeente";
}

@if (Model.Any())
{
    async Task SchrijfAntwoorden(Antwoord antwoord)
    {
        <div class="shadow-sm ml-2 p-3">
            <h5>Auteur: @antwoord.Profiel.LoginNaam</h5>
            <p>@antwoord.BerichtTekst</p>
            <a class="btn btn-primary" asp-action="Antwoorden" asp-route-berichtId="@antwoord.Id">Antwoorden</a>

            @if (antwoord.ChildAntwoorden.Any())
            {
                foreach (Antwoord childAntwoord in antwoord.ChildAntwoorden)
                {
                    await SchrijfAntwoorden(childAntwoord);
                }
            }
        </div>
    }

    foreach (HoofdBericht hb in Model)
    {
    <div class="shadow p-3">
        <h4>@hb.BerichtTitel</h4>
        <h5>Thema: @hb.BerichtThema.Naam</h5>
        <h5>Auteur: @hb.Profiel.LoginNaam</h5>
        <div>@hb.BerichtTekst</div>
        <a class="btn btn-primary" asp-action="Antwoorden" asp-route-berichtId="@hb.Id">Antwoorden</a>

        @if (hb.ChildAntwoorden.Any())
        {
            foreach (Antwoord antwoord in hb.ChildAntwoorden.Where(a => a.ParentAntwoord is null))
            {
                await SchrijfAntwoorden(antwoord);
            }
        }
    </div>
    }
}
else
{
    <p>Er zijn momenteel nog geen berichten</p>
}
<a class="btn btn-primary" asp-action="Nieuw">Nieuw bericht</a>