@using ForumData.Entities
@model AntwoordViewModel
@{
    ViewData["Title"] = "Antwoorden";
}
<div class="card border-primary">
    <div class="card-header">
        @Model.BronHoofd.BerichtTijdstip.ToString("g") @Model.BronHoofd.Profiel.LoginNaam
    </div>
    <div class="card-body text-primary">
        <h4 class="card-title">@Model.BronHoofd.BerichtTitel</h4>
        <h5 class="card-subtitle text-secondary">@Model.BronHoofd.BerichtThema.Naam</h5>

        @if (Model.BronIsHoofd)
        {
            <p class="card-text mt-2">@Model.BronHoofd.BerichtTekst</p>
        }
    </div>

    @if (!Model.BronIsHoofd)
    {
        <div class="card border-secondary ml-3 mr-1 mb-2">
            <div class="card-header">
                @Model.BronAntwoord.BerichtTijdstip.ToString("g") @Model.BronAntwoord.Profiel.LoginNaam
            </div>
            <div class="card-body text-secondary">
                <p class="card-text">@Model.BronAntwoord.BerichtTekst</p>
            </div>
        </div>
    }
</div>

<div class="card border-secondary ml-4 my-3">
    <div class="card-body">
        <form asp-action="Antwoorden" method="post">
            <div class="form-group">
                <textarea class="form-control" asp-for="Tekst"></textarea>
            </div>
            <input type="hidden" asp-for="BronHoofdId" value="@Model.BronHoofd.Id" />
            @{ int bronAntwoordId = Model.BronIsHoofd ? 0 : Model.BronAntwoord.Id; }
            <input type="hidden" asp-for="BronAntwoordId" value="@bronAntwoordId" />
            <input type="hidden" asp-for="BronIsHoofd" value="@Model.BronIsHoofd" />
            <input class="btn btn-primary" type="submit" value="Antwoorden" />
        </form>
    </div>
</div>
